<ion-header-bar  class="bar-positive item-icon-right">
	<h1 class="title">订单</h1>
</ion-header-bar>
<ion-content class="padding-top">
	<ion-list >
		<a class="item  item-icon-right" href="">
			<span>我的订单</span>
			<span style="float: right;">全部订单</span>
			<i class="icon ion-ios-arrow-right"></i>
		</a>
	</ion-list>
	<div class="row" >
		<div class="col-25 padding">
			<dt class="order-dt"><img src="img/icon/daifukuan.png" class="order-icon"></dt>
			<dd class="order-dd">代付款</dd>
		</div>
		<div class="col-25 padding">
			<dt class="order-dt"><img src="img/icon/daishiyong.png" class="order-icon"></dt>
			<dd class="order-dd">待使用</dd>
		</div>
		<div class="col-25 padding">
			<dt class="order-dt"><img src="img/icon/daipingjia.png" class="order-icon"></dt>
			<dd class="order-dd">代评价</dd>
		</div>
		<div class="col-25 padding">
			<dt class="order-dt"><img src="img/icon/shouhou.png" class="order-icon"></dt>
			<dd class="order-dd">退款/售后</dd>
		</div>
	</div>
	<p style="background-color: #e5e5e5;color: #919191" class="padding">最近订单</p>
	<div >
		<a class="item item-thumbnail-left " href="" >
			<img src="img/a.png">
			<h2>
				鲜芋仙
				<span style="float: right;">待评价</span>
			</h2>
			<p>
				<span>数量：1</span>
			</p>
			<p >
				<span>总价：￥149</span>
				<button class="button button-outline button-balanced" style="border-color: #d04f4c;
				color: #d17573; min-width: 80px;min-height:32px;line-height: 32px; float: right;">评价</button>
			</p>

		</a>
		<a class="item item-thumbnail-left " href="" ">
			<img src="img/a.png">
			<h2>
				鲜芋仙
				<span style="float: right;">待评价</span>
			</h2>
			<p>
				<span>数量：1</span>
			</p>
			<p >
				<span>总价：￥149</span>
				<button class="button button-outline button-balanced" style="border-color: #d04f4c;
				color: #d17573; min-width: 80px;min-height:32px;line-height: 32px; float: right;">评价</button>
			</p>

		</a>
		<button class="button button-block button-light button-light ion-chevron-right ion-ios-arrow-down"style="color:#bc0400;">
		 	更多
		</button>
	</div>
	<ion-list class="padding-top">
		<a class="item  item-icon-right" href="">
			<span>我的收藏</span>
			<span style="float: right;">产看全部</span>
			<i class="icon ion-ios-arrow-right"></i>
		</a>
	</ion-list>
	<div >
		<a class="item item-thumbnail-left " href="" style="border: ;">
			<img src="img/a.png">
			<h2>
				鲜芋仙
				<span style="float: right;"><0.5km</span>
			</h2>
			
			<p >
				<span>总价：￥149</span>
			</p>

		</a>
		<a class="item item-thumbnail-left " href="" style="border: ;">
			<img src="img/a.png">
			<h2>
				鲜芋仙
				<span style="float: right;"><0.5km</span>
			</h2>
			
			<p >
				<span>总价：￥149</span>
			</p>

		</a>
		<button class="button button-block  button-light  ion-chevron-right ion-ios-arrow-down"style="color:#bc0400;">
		 	更多
		</button>
	</div>
</ion-content>
